* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1e23;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    

}

textarea {
    resize: none;
    
    border: none;
    padding: 8px;
    background-color: #3c3d46;
    color: white;
    outline: none;
    font-size: 22px;
    font-family: SF PRO Rounded;
    text-align: justify;
    height: auto;
    max-height: 50vh;
    border-radius: 5px;
    
}

textarea:focus {
    border: 1px solid #8257e5;
}

input#sendButton {
    padding: 16px;
    background-color: #8257e5;
    color: white;
    font-weight: bolder;
    font-family: SF PRO Text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    margin-left: 10px;
    width: 80px;
    align-items: flex-start;
}

input#sendButton:hover {
    background-color: #5c3ca7;
}

/*.input-wrapper input[type="button"] {
    margin-left: 10px;
    width: 80px;
}*/
